@import url('//fonts.googleapis.com/css?family=Quicksand|Noto+Sans');

body {
  background: #19111f 0%; /* fallback for old browsers */
  background: repeating-linear-gradient(to bottom, #19111f 0%, #2c1e37 100%, #19111f 0%);
}

h1 {
  margin-bottom: 25px;
}

h1, h2, h3 {
  color: #6e618d
}

.fp-callout {
  background: #e0f0f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px
}

.fp-body-container {
  background: white;
  padding: 30px;
  border-radius: 2px;
  font-family: Noto sans, sans-serif;
}


.fp-spaced-lines {
  line-height: 2em;
}

.fp-nav {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  margin-top: 0;
  /* line-height: 120px; */
  overflow: hidden;
}

.fp-nav a {
  margin-right: 20px;
}

.fp-nav-items {
  text-align: right;
  height: 140px;
  line-height: 140px;
  margin-top: 5px;
}

@keyframes onenter {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#logo-ring {
  animation: onenter 3s;
}

.fp-logo {
  display: inline-block;
  max-width: 250px;
  width: 100%;
  height: 140px;
  font-size: 0;
  padding: 0;
}

.fp-vert-space {
  margin-top: 25px;
}

.fp-footer {
  color: white;
  font-family: Noto sans, sans-serif;
}

footer h5 {
}

footer a {
  color: white;
  opacity: 0.8;
}
footer a:hover {
  border-bottom: 1px solid #ffcc00;
  color: white;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 1px solid #ffcc00;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer li {
  line-height: 2em;
}

footer .text-muted {
  color: white !important;
  opacity: 0.8;
}

.btn-primary {
  background: #329d94;
  border: 0;
}
.btn-primary:hover {
  background: #1b96c4;
  border: 0;
}

a {
  color: #1b96c4
}

a:hover {
  color: #1b96c4;
  border-bottom: 1px solid #329d94;
  text-decoration: none;
}


@media(max-width:767px){
  .fp-nav .col-4 {
    max-width: none;
    flex: none;
  }
  .fp-nav .col-8 {
    clear: both;
    max-width: none;
    flex: none;
    padding: 0
  }
  .fp-nav {
    line-height: 30px;
    margin-bottom: 20px
  }
  .fp-nav-items {
    text-align: left;
    height: auto;
    line-height: 30px;
    margin: 0
  }
  .fp-nav a {
    margin-right: 5px;
  }
  .fp-logo {
    height: 120px;
  }
  .fp-body-fluid {
    padding: 0;
  }
  .fp-body-container {
    padding: 15px;
  }
}
@media(max-width:992px){
  .fp-nav .col-4 {
    max-width: none;
    flex: none;
  }
  .fp-nav .col-8 {
    clear: both;
    max-width: none;
    flex: none;
    padding: 0
  }
  .fp-nav {
    line-height: 30px;
    margin-bottom: 20px
  }
  .fp-nav-items {
    text-align: left;
    height: auto;
    line-height: 30px;
    margin: 0
  }
  .fp-logo {
    height: 100px;
    margin-top: 15px;
  }
  .fp-nav a {
    margin-right: 5px;
  }
  .fp-body-fluid {
    padding: 0;
  }
  .fp-body-container {
    padding: 15px;
  }
}
@media(min-width:992px){}
@media(min-width:1200px){}

.fp-logo-link, .fp-logo:hover, .fp-logo *:hover {
  text-decoration: none !important;
  border: none !important;
}

#toplogo {
    height: 40px;
}

#footerlogo {
    height: 1em;
}
